* {
    padding: 1%;
}

header {
    text-align: center;
}

.projectsBox {
    all: unset;
    padding: 1%;
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
    grid-gap: 8px;
    place-items: center;
}

.socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
}

.popup-img,
.popup-content {
    padding: 2%;
}

.popupStack {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    place-items: center;
}

.popup-content {
    padding: 0;
}

.popupHR {
    padding: 0;
    margin: auto;
}

.mobileNote {
    visibility: unset;
}

.popup-img.tallimg {
    padding-top: 4em;
}

.resumeGrid {
    display: grid;
    grid-template-columns: auto;
}

.orange a {
    padding: 0;
}

.resumeGrid .columnOne p.socialIcons {
    display: inline-block;
}