* {
    padding: 1%;
}

body {
    font-size: 16px;   
}

h1 {
    font-size: 24px;
}

h2 {
    padding: 1%;
    font-size: 20px;
}

p {
    font-size: 16px;
}

main, section {
    padding: 10px;
}

header {
    text-align: center;
}

.socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
}

.projectsBox {
    all: unset;
	display: grid;
	grid-template-columns: auto;
	width: 100%;
    place-items: center;
}
.mobileNote {
    visibility: unset;
}

.popup-img.tallimg {
    padding-top: 1em;
}

.popup-img {
    max-width: 100%;
    max-height: 40vh; /* Adjust as needed */
    height: auto;
    margin-top: 10px;
}

.popup-content {
    font-size: 16px;
    color: #000;
    margin-top: 15px;
}

.close {
    font-size: 24px;
    top: 10px;
    right: 10px;
}

.hiddenOnMobile {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: var(--main-text-color);
    border-radius: 3px;
}

.nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.nav-links.show {
    display: flex;
}

.nav-links li {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.nav-links li:last-child {
    border-bottom: none;
}

.nav-links a {
    padding: 15px;
    display: block;
    color: var(--main-text-color);
}

.nav-links a.activePage {
    background-color: #f0f0f0;
}

.popupStack {
    max-width: 90%;
    max-height: 90%;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.95);
}
